body {
    color: #342D33;
    font-family: "Inter var",sans-serif;
    font-weight: 400;
    letter-spacing: .03em;
    line-height: 1.5;
    margin: 0;
    /*margin-top: 75px;*/
    text-rendering: optimizeLegibility;
}

div {
    display: block;
}

a {
	text-decoration: none;
}

.menu {
	margin-bottom: 11em;
/*	position: fixed;*/
}

/*section {
	display: inline-block;
	width: 100%;
	height: 100vh;
}*/

.links a {
    font-size: 1.2rem;
    margin-right: .5rem;
    padding-right: 1rem;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

.links {
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
}

.site-home .about {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 2.0736em;
    position: relative;
}

.wrapper {
    margin: 0 auto;
    max-width: 800px;
    padding: 1.2em;
	position: absolute;
	top: 40%;
	left: 50%;
	-ms-transform: translate(-50%, -60%);
	transform: translate(-50%, -60%);
}

.contact {
    padding-top: 1.728em;
    position: relative;
}

.contact .social-links {
    position: absolute;
    left: 0;
}

.contact a {
    border-bottom: 0;
    color: #342D33;
    font-size: 1.728em;
    margin-right: 0.5em;
    padding-bottom: 0;
}

.grey-icon {
	color: gray;
}

.grey-icon:hover { 
	color: black;
} 

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
}

.nav.scroll {
    box-shadow: 1px 2px 18px rgba(0,0,0,.1);
}